# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальные окружения
.venv/
env/
venv/

# Игнорируем логи
*.log

# Игнорируем временные токены и ключи
dev/
credentials.json
users_data.json

# Игнорируем папку бота (не нужна для приложения)
bot/

# Игнорируем прочее
*.md
.DS_Store
